In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../dados/Fifa_world_cup_matches.csv')
df.head(10)

,team1,team2,possession team1,possession team2,possession in contest,number of goals team1,number of goals team2,date,hour,category,...,penalties scored team1,penalties scored team2,goal preventions team1,goal preventions team2,own goals team1,own goals team2,forced turnovers team1,forced turnovers team2,defensive pressures applied team1,defensive pressures applied team2
0,QATAR,ECUADOR,42%,50%,8%,0,2,20 NOV 2022,17 : 00,Group A,...,0,1,6,5,0,0,52,72,256,279
1,ENGLAND,IRAN,72%,19%,9%,6,2,21 NOV 2022,14 : 00,Group B,...,0,1,8,13,0,0,63,72,139,416
2,SENEGAL,NETHERLANDS,44%,45%,11%,0,2,21 NOV 2022,17 : 00,Group A,...,0,0,9,15,0,0,63,73,263,251
3,UNITED STATES,WALES,51%,39%,10%,1,1,21 NOV 2022,20 : 00,Group B,...,0,1,7,7,0,0,81,72,242,292
4,ARGENTINA,SAUDI ARABIA,64%,24%,12%,1,2,22 NOV 2022,11 : 00,Group C,...,1,0,4,14,0,0,65,80,163,361
5,DENMARK,TUNISIA,55%,33%,12%,0,0,22 NOV 2022,14 : 00,Group D,...,0,0,11,11,0,0,76,73,226,287
6,MEXICO,POLAND,54%,31%,15%,0,0,22 NOV 2022,17 : 00,Group C,...,0,0,8,15,0,0,61,70,193,290
7,FRANCE,AUSTRALIA,56%,35%,9%,4,1,22 NOV 2022,20 : 00,Group D,...,0,0,4,22,0,0,64,56,250,316
8,MOROCCO,CROATIA,32%,57%,12%,0,0,23 NOV 2022,11 : 00,Group F,...,0,0,7,8,0,0,87,58,391,217
9,GERMANY,JAPAN,65%,22%,13%,1,2,23 NOV 2022,14 : 00,Group E,...,1,0,12,26,0,0,55,87,164,487

# Tabela SeleÃ§Ãµes

In [32]:
lista_selecoes = list(df['team1'].unique())
lista_selecoes.extend(list(df['team2'].unique()))

df_selecao = {"nome": [], "pontos": [], "vitorias": [], "empates": [], "derrotas": [], "gols_pro": [], "gols_contra": [], "grupo": [], "saldo_gols": [], "aproveitamento": []}	

for selecao in set(lista_selecoes):

    grupos = df[(df['team1'] == selecao) | (df['team2'] == selecao)]['category'].unique()

    for grupo in grupos:
        df_grupo = df[df['category'] == grupo]
        pontos = 0
        vitorias = 0
        empates = 0
        derrotas = 0
        gols_pro = 0
        gols_contra = 0

        df_aux = df_grupo.loc[(df['team1'] == selecao)] # time da casa
        if len(df_aux) > 0:
            for index, row in df_aux.iterrows():
                if row['number of goals team1'] > row['number of goals team2']:
                    pontos += 3
                    vitorias += 1
                elif row['number of goals team1'] == row['number of goals team2']:
                    pontos += 1
                    empates += 1
                else:
                    derrotas += 1

                gols_pro += row['number of goals team1']
                gols_contra += row['number of goals team2']

        df_aux = df_grupo.loc[(df['team2'] == selecao)] # time visitante
        if len(df_aux) > 0:
            for index, row in df_aux.iterrows():
                if row['number of goals team2'] > row['number of goals team1']:
                    pontos += 3
                    vitorias += 1
                elif row['number of goals team2'] == row['number of goals team1']:
                    pontos += 1
                    empates += 1
                else:
                    derrotas += 1

                gols_pro += row['number of goals team2']
                gols_contra += row['number of goals team1']


        df_selecao["nome"].append(selecao)
        df_selecao["pontos"].append(pontos)
        df_selecao["vitorias"].append(vitorias)
        df_selecao["empates"].append(empates)
        df_selecao["derrotas"].append(derrotas)
        df_selecao["gols_pro"].append(gols_pro)
        df_selecao["gols_contra"].append(gols_contra)
        df_selecao["grupo"].append(grupo.split("Group ")[-1])
        df_selecao["saldo_gols"].append(gols_pro - gols_contra)
        aproveitamento = pontos / (len(df_grupo) * 3)
        df_selecao["aproveitamento"].append(round(aproveitamento, 3))

df_selecao = pd.DataFrame(df_selecao)

map_grupo = {'Round of 16': 'Oitavas de Final', 
            'Quarter-final': 'Quartas de Final', 
            'Semi-final': 'Semifinal', 
            'Third place': 'Disputa de 3Âº Lugar', 
            'Final': 'Final'}

df_selecao.replace({'grupo': map_grupo}, inplace=True)

df_selecao.head(10)

,nome,pontos,vitorias,empates,derrotas,gols_pro,gols_contra,grupo,saldo_gols,aproveitamento
0,GHANA,3,1,0,2,5,7,H,-2,0.167
1,ECUADOR,4,1,1,1,4,3,A,1,0.222
2,IRAN,3,1,0,2,4,7,B,-3,0.167
3,SAUDI ARABIA,3,1,0,2,3,5,C,-2,0.167
4,CAMEROON,4,1,1,1,4,4,G,0,0.222
5,POLAND,4,1,1,1,2,2,C,0,0.222
6,POLAND,0,0,0,1,1,3,Oitavas de Final,-2,0.000
7,BRAZIL,6,2,0,1,3,1,G,2,0.333
8,BRAZIL,3,1,0,0,4,1,Oitavas de Final,3,0.125
9,BRAZIL,1,0,1,0,1,1,Quartas de Final,0,0.083

In [33]:
df_selecao.to_csv('../dados/selecoes.csv', index=False)

# Tabela Grupos

In [39]:
lista_grupos = list(df['category'].unique())
df_grupos = {"grupo": [],
             "partidas": []}

for grupo in lista_grupos:
    df_aux = df[df['category'] == grupo]
    patidas = []
    for index, row in df_aux.iterrows():
        patidas.append(row['team1'] + ' x ' + row['team2'])
        df_grupos["grupo"].append(grupo.split("Group ")[-1])

    df_grupos["partidas"].extend(patidas)
map_grupo = {'Round of 16': 'Oitavas de Final', 
            'Quarter-final': 'Quartas de Final', 
            'Semi-final': 'Semifinal', 
            'Third place': 'Disputa de 3Âº Lugar', 
            'Final': 'Final'}

df_grupos = pd.DataFrame(df_grupos)
df_grupos.replace({'grupo': map_grupo}, inplace=True)
df_grupos.head(10)

  grupo                 partidas
0     A          QATAR x ECUADOR
1     A    SENEGAL x NETHERLANDS
2     A          QATAR x SENEGAL
3     A    NETHERLANDS x ECUADOR
4     A      NETHERLANDS x QATAR
5     A        ECUADOR x SENEGAL
6     B           ENGLAND x IRAN
7     B    UNITED STATES x WALES
8     B             WALES x IRAN
9     B  ENGLAND x UNITED STATES

In [40]:
df_grupos.to_csv('../dados/grupos.csv', index=False)

# Tabela Partida

In [46]:
# data, hora, casa, visitante, placar_casa, placar_visitante, posse_bola_casa, 
#                     posse_bola_visitante, amarelos_casa, amarelos_visitante, vermelhos_casa, vermelhos_visitante,
#                     no_passes_casa, no_passes_visitante, no_escanteios_casa, no_escanteios_visitante

df_partidas = {"casa": [], "visitante": [], "placar_casa": [], "placar_visitante": [], "data": [], "hora": [], "posse_bola_casa": [],
                "posse_bola_visitante": [],  "grupo": [], "amarelos_casa": [], "amarelos_visitante": [], "vermelhos_casa": [], "vermelhos_visitante": [],
                "no_passes_casa": [], "no_passes_visitante": [], "no_escanteios_casa": [], "no_escanteios_visitante": []}

for index, row in df.iterrows():
    df_partidas["casa"].append(row['team1'])
    df_partidas["visitante"].append(row['team2'])
    df_partidas["placar_casa"].append(row['number of goals team1'])
    df_partidas["placar_visitante"].append(row['number of goals team2'])
    df_partidas["data"].append(row['date'])
    df_partidas["hora"].append(row['hour'])

    posse_bola_casa = float(row['possession team1'].split("%")[0]) / 100
    posse_bola_visitante = float(row['possession team2'].split("%")[0]) / 100

    df_partidas["posse_bola_casa"].append(posse_bola_casa)
    df_partidas["posse_bola_visitante"].append(posse_bola_visitante)
    
    df_partidas["grupo"].append(row['category'].split("Group ")[-1])
    df_partidas["amarelos_casa"].append(row['yellow cards team1'])
    df_partidas["amarelos_visitante"].append(row['yellow cards team2'])
    df_partidas["vermelhos_casa"].append(row['red cards team1'])
    df_partidas["vermelhos_visitante"].append(row['red cards team2'])
    df_partidas["no_passes_casa"].append(row['passes team1'])
    df_partidas["no_passes_visitante"].append(row['passes team2'])
    df_partidas["no_escanteios_casa"].append(row['crosses team1'])
    df_partidas["no_escanteios_visitante"].append(row['crosses team2'])

df_partidas = pd.DataFrame(df_partidas)
df_partidas.replace({'grupo': map_grupo}, inplace=True)
df_partidas.head(10)

,casa,visitante,placar_casa,placar_visitante,data,hora,posse_bola_casa,posse_bola_visitante,grupo,amarelos_casa,amarelos_visitante,vermelhos_casa,vermelhos_visitante,no_passes_casa,no_passes_visitante,no_escanteios_casa,no_escanteios_visitante
0,QATAR,ECUADOR,0,2,20 NOV 2022,17 : 00,0.42,0.50,A,4,2,0,0,450,480,9,14
1,ENGLAND,IRAN,6,2,21 NOV 2022,14 : 00,0.72,0.19,B,0,2,0,0,809,224,23,8
2,SENEGAL,NETHERLANDS,0,2,21 NOV 2022,17 : 00,0.44,0.45,A,2,1,0,0,383,438,19,25
3,UNITED STATES,WALES,1,1,21 NOV 2022,20 : 00,0.51,0.39,B,4,2,0,0,569,409,31,15
4,ARGENTINA,SAUDI ARABIA,1,2,22 NOV 2022,11 : 00,0.64,0.24,C,0,6,0,0,610,267,29,9
5,DENMARK,TUNISIA,0,0,22 NOV 2022,14 : 00,0.55,0.33,D,2,1,0,0,594,387,27,13
6,MEXICO,POLAND,0,0,22 NOV 2022,17 : 00,0.54,0.31,C,2,1,0,0,485,322,33,10
7,FRANCE,AUSTRALIA,4,1,22 NOV 2022,20 : 00,0.56,0.35,D,0,3,0,0,734,466,34,9
8,MOROCCO,CROATIA,0,0,23 NOV 2022,11 : 00,0.32,0.57,F,1,0,0,0,360,667,10,19
9,GERMANY,JAPAN,1,2,23 NOV 2022,14 : 00,0.65,0.22,E,0,0,0,0,820,261,28,16

In [47]:
df_partidas.to_csv('../dados/partidas.csv', index=False)